.row{background-image: url("src/assets/sky header.gif");

margin: 0%;}
div{
width:100%;
margin: 0%;
padding: 0%;
height: 100%;}

@media (max-width:766px){
  div{background-image:none;
    padding: 0%;
    margin: 0%;
    height: 100;}}