
    
<div class="headersocial">
        <div class="logo">
            <img src="../../../assets/APLogo.png"id="logoAP">
        </div>
        <div class="redes">
<a href="https://www.instagram.com/lorenvillafane/"><img src="../../../assets/ICONOS/SOCIAL/Instagram_2.png"id="ig"> </a>
<a href="https://t.me/lovistudio"><img src="../../../assets/ICONOS/SOCIAL/Telegram.png"id="tel"> </a>
<a href="https://walink.co/d25899"><img src="../../../assets/ICONOS/SOCIAL/Whatsapp.png"id="wpp"> </a>
<a href="https://twitter.com/LoVi_Studio"><img src="../../../assets/ICONOS/SOCIAL/Twitter.png"id="tw"> </a>
<a href="https://www.facebook.com/lorenzo99v"><img src="../../../assets/ICONOS/SOCIAL/Facebook.png"id="fb"> </a>

        </div>

<div> <a routerLink="/login">
        <img src="../../../assets/ICONOS/HEADER/Contacts_LightBlue.png"id="botoningreso"height ="70"> 
        <div class="content">
    </div>
    </a></div>

   </div>

