 <!--ESTUDIOS-->
 <div class="row">
 <div class="estudios">
    <h1>Estudios</h1>
    <div >

    
        <h1>Bachiller en Ciencias Naturales</h1>-<h2>Departamento de aplicacion Docente(DAD)</h2><h3>(years)</h3>
   
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum delectus laudantium, ducimus eveniet beatae cum porro obcaecati. Quia, quam laudantium saepe, veritatis nobis tenetur labore culpa nulla corrupti repellat accusamus.

    </p>


    
        <h1>Ingenieria en Sistemas de Información</h1>-<h2>Universidad Tecnológica Nacional (UTN FRM)</h2><h3>(years)</h3>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum delectus laudantium, ducimus eveniet beatae cum porro obcaecati. Quia, quam laudantium saepe, veritatis nobis tenetur labore culpa nulla corrupti repellat accusamus.

    </p>

    </div></div>
    <!--CERTIFICADOS-->
    <div class="certificados">
    <h1>Certificados</h1>
    <div >

        <h1>Aprendiendo a programar</h1>-<h2>Universidad Tecnológica Nacional (UTN FRM)</h2>
   
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum delectus laudantium, ducimus eveniet beatae cum porro obcaecati. Quia, quam laudantium saepe, veritatis nobis tenetur labore culpa nulla corrupti repellat accusamus.

    </p>
    <img src="../../../../assets/certificado utn java.png" id="javautn">

        <h1>Desarrollo de Apps Móviles</h1>-<h2>Google Activate<span>Universidad Complutense Madrid</span></h2><h3>(years)</h3>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum delectus laudantium, ducimus eveniet beatae cum porro obcaecati. Quia, quam laudantium saepe, veritatis nobis tenetur labore culpa nulla corrupti repellat accusamus.
  </p>
  <img src="../../../../assets/movil google activate.png" id="googleactivate">

    </div></div>
    <!--TRABAJOS-->
    <div class="trabajos">
    <h1>Experiencia Laboral</h1>
    <div>

        <h1>Freelancer</h1>-<h3>(years)</h3>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum delectus laudantium, ducimus eveniet beatae cum porro obcaecati. Quia, quam laudantium saepe, veritatis nobis tenetur labore culpa nulla corrupti repellat accusamus.
        
    </p>


    </div></div></div>