
div{
    font-family: 'Silkscreen', cursive;
    text-align: center;
    }
h1{font-size: 30px;
color:white;
letter-spacing: auto}
h2{font-size:25px;
color: white;
letter-spacing: auto}
h3{font-size:25px;
    color: white;
    letter-spacing: auto}
p{font-size:15px;
    color: white;
    letter-spacing: auto}
#javautn{width: 700px;}
#googleactivate{width:700px;}