<link href="http://fonts.cdnfonts.com/css/outline-pixel7" rel="stylesheet">

<div class="row">
    <div class="frontend">
        <h1>FRONT END</h1>
        <p>HTML<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
    </p>
    <p>CSS<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
    </p>
    <p>JavaScript<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
    </p>
    <p>Angular<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
    </p></div>
    
    <div class="backend">
        <h1>BACK END</h1>
    <p>Java<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
    </p>
    <p>MySQL<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
    </p>
    <p>Spingboot<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
    </p></div>

    <div class="gamedev">
        <h1>GAMEDEV</h1>
     <p>UNITY(C#)<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
    </p>   
    <p>GODOT(C#)<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
    </p>  
    </div>

    <div class="Diseño">
        <h1>DISEÑO</h1>
        <p>ASEPRITE<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
       </p>   
       <p>GIMP<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
       </p>  
       <p>KRITA<img src="../../../../assets/Rank emblems4.png"><img src="../../../../assets/Rank emblems8.png"><img src="../../../../assets/Rank emblems12.png"><img src="../../../../assets/Rank emblems16.png">
       </p>  
       </div>
    
        
</div>
