<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/mizu-font-alphabet" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/unlearned-bitmap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/outline-pixel7" rel="stylesheet">


    <div class="row">
        <div >
            <img src="../../../../assets/marco 400.png"id="fotoperfil">
        </div>
    
    <div class="aboutme">
        <p>
            Hola soy Lorenzo, un joven mendocino
            apasionado por el mundo dev. Me considero una persona positiva y activa,
            con muchas ganas de demostrar y aprender conocimientos, se me da bien trabajar
            tanto en grupo como en solitario. Algunos de mis pasatiempos son
            el Futbol, la pesca y el indie gamedev, algunos de mis proyectos indies
            se pueden ver en LoVi STUDIO.
        </p>
    </div>
     <!--ESTUDIOS-->
 <div class="row">
    <div class="estudios">
       <h1>Estudios</h1>
       <div>
   
           <h2>-Bachiller en Ciencias Naturales | Departamento de aplicacion Docente(DAD)</h2>
      
           <h2>-Ingenieria en Sistemas de Información | Universidad Tecnológica Nacional (UTN FRM)</h2>
     
       </div> </div>
       <!--CERTIFICADOS-->
       <div class="certificados">
       <h1>Certificados</h1>
       <div >
   
       
           <h2>-Aprendiendo a programar (JAVA) | Universidad Tecnológica Nacional (UTN FRM)</h2>
       <img src="../../../../assets/certificado utn java.png" id="javautn">
 
           <h2>-Desarrollo de Apps Móviles | Google Activate (Universidad Complutense Madrid)</h2>
     <img src="../../../../assets/movil google activate.png" id="googleactivate">
   
       </div></div>
       <!--TRABAJOS-->
       <div class="trabajos">
       <h1>Experiencia Laboral</h1>
       <div>
           <h2>-Freelancer</h2><h4>(2021-actualidad)</h4>
       </div></div></div>
    </div>
 
