<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">

<div class="row">
    <footer>
        <p>Lorenzo Villafañe | Argentina Programa 2022</p>
        <p>Hecho con orgullo en Mendoza, Argentina</p>
    </footer>
</div>
